# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [0]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import numpy as np
import pandas as pd

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [0]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

_ _ _ = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd._ _ _(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [298]:
properties.head(15)

##print(properties.shape)
#print(properties.info())
#properties.describe()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91449,50460.2,93284.5,64958.1,71306.6,81671.5,120933,69158.2,79885.9,...,43958.5,44803.4,45544.5,48527.5,56701.6,74435.8,64018.9,54705.2,NaN,53202.8
2,1995-02-01,82202.8,51085.8,93190.2,64787.9,72022.3,81657.6,119509,68951.1,80897.1,...,43925.4,44528.8,46051.6,49341.3,56593.6,72777.9,63715,54356.1,NaN,53096.2
3,1995-03-01,79120.7,51269,92247.5,64367.5,72015.8,81449.3,120282,68712.4,81379.9,...,44434.9,45200.5,45383.8,49442.2,56171.2,73896.8,64113.6,53583.1,NaN,53201.3
4,1995-04-01,77101.2,53133.5,90762.9,64277.7,72965.6,81124.4,120098,68610,82188.9,...,44267.8,45614.3,46124.2,49455.9,56567.9,74455.3,64623.2,54786,NaN,53590.9
5,1995-05-01,84409.1,53042.2,90258,63997.1,73704,81542.6,119929,68844.9,82077.1,...,44223.6,44831,45878,50369.7,56479.8,75432,64530.4,54698.8,NaN,53678.2
6,1995-06-01,94900.5,53700.3,90107.2,64252.3,74310.5,82382.8,121887,69052.5,81630.7,...,44113,45392.6,45680,50100.4,56288.9,75606.2,65511,54420.2,NaN,53735.2
7,1995-07-01,110128,52113.1,91441.2,63722.7,74127,82898.5,124028,69142.5,82352.2,...,44109.6,45535,46037.7,49860,57242.3,75984.2,65224.9,54265.9,NaN,53900.6
8,1995-08-01,112329,52232.2,92361.3,64432.6,73547,82054.4,125530,68993.4,82706.7,...,44193.7,45111.5,45922.5,49598.5,56732.4,75529.3,64851.6,54365.7,NaN,53600.3
9,1995-09-01,104473,51471.6,93273.1,64509.5,73789.5,81440.4,120597,69393.5,82011.1,...,44088.1,44837.9,45771.7,49319.7,56259.3,74940.8,64352.5,54244,NaN,53309.2
10,1995-10-01,108038,51513.8,92567.4,64529.9,73264.1,81862.2,117458,68934.6,80522.7,...,43110,44310,45154.7,49597.9,55240.3,74302.1,64125.8,54264.6,NaN,52844.6
11,1995-11-01,117636,50848.7,90883.2,63846,72782,82557.8,115419,68879.7,79272.3,...,43335.2,44166.4,44967.2,48500,55877.9,74117.8,64416.2,53799.2,NaN,52787.7
12,1995-12-01,127232,50945.2,91133.9,63816.9,72523.7,82966.3,118739,68407.1,79699.7,...,43373.9,44458,45648.7,49029.7,55523.8,75177.6,64260.6,53081.2,NaN,52921.6
13,1996-01-01,108999,50828.1,91111,63996,72806.3,82210.3,119560,68006,80214.3,...,42599.2,43460.6,44618.6,47951.9,55033.2,75341.9,64057.2,53373.2,NaN,52333.2
14,1996-02-01,93356.7,51440.7,92429.5,64503.7,73084.1,81418.5,123371,68032,80836.4,...,43080.5,43814.8,44506.1,48646.1,55315.5,76086.6,63770.1,53255.3,NaN,52535.6

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [299]:
trans_properties = properties.transpose()
trans_properties

,0,1,2,3,4,5,6,7,8,9,...,296,297,298,299,300,301,302,303,304,305
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,...,813770,810455,826227,776894,737275,747611,777640,844989,867841,899831
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,...,299421,304778,304579,306390,301283,303653,304265,304099,283139,295744
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,...,528577,526670,525678,522639,519306,518542,519121,527747,526553,532503
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,...,337523,333340,332920,333657,336302,334765,337760,339215,346840,339408
Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,73789.5,...,488784,501533,494770,432188,427126,423161,467145,461398,494455,466574
Bromley,E09000006,81671.5,81657.6,81449.3,81124.4,81542.6,82382.8,82898.5,82054.4,81440.4,...,442189,441058,439178,436080,438682,435532,435704,434625,443482,420036
Camden,E09000007,120933,119509,120282,120098,119929,121887,124028,125530,120597,...,863171,838170,804713,825336,807124,815512,825249,870107,870627,862209
Croydon,E09000008,69158.2,68951.1,68712.4,68610,68844.9,69052.5,69142.5,68993.4,69393.5,...,364540,365226,364413,367585,369568,371227,371357,370872,386738,369791
Ealing,E09000009,79885.9,80897.1,81379.9,82188.9,82077.1,81630.7,82352.2,82706.7,82011.1,...,474627,473162,477369,475492,469662,466491,465614,478565,502107,490596
Enfield,E09000010,72514.7,73155.2,72190.4,71442.9,70630.8,71348.3,71837.5,72237.9,71725.2,...,393033,386806,392721,393255,400182,390589,389901,395082,400695,408018
Greenwich,E09000011,62300.1,60993.3,61377.8,61927.7,63513,64751.6,65486.3,65076.4,63996.8,...,396858,403730,401559,405337,398024,396833,402174,404658,389920,402463
Hackney,E09000012,61296.5,63187.1,63593.3,65139.6,66194,66921.2,68390.8,68096.8,68752.5,...,567269,573270,566979,559758,552785,558321,580773,586842,551629,572410
Hammersmith & Fulham,E09000013,124903,122088,120636,121425,124434,126175,124382,123625,123094,...,729659,735538,719932,719751,728698,740048,748877,742876,719836,688761
Haringey,E09000014,76287.6,78901.2,78521.9,79545.6,79374,79956.4,80746.3,81217.7,82142.9,...,544194,553640,554123,559426,565582,563151,548652,550296,547124,563752
Harrow,E09000015,84769.5,83396.1,83416.2,83567.9,83853.7,84173.2,84226.7,84430.6,83607,...,450373,453155,453783,450109,446900,447269,455076,456568,465958,449553
Havering,E09000016,68000.1,69393.5,69368,69444.3,68534.5,68464.6,68680.8,69023.4,68108.2,...,367502,366447,367102,365861,365886,362423,363699,364658,378747,367809
Hillingdon,E09000017,73834.8,75031.1,74188.7,73911.4,73117.1,74005,74671.1,74967.9,73843.6,...,397385,403945,403300,407706,404843,406622,406712,412593,405066,422073
Hounslow,E09000018,72231.7,71051.6,72098,71890.3,72877.5,72331.1,73717.8,74479.9,74426.7,...,401911,406930,413132,410071,409569,410277,409794,411748,396030,416681
Islington,E09000019,92516.5,94342.4,93465.9,93344.5,94346.4,97428.9,98976.1,98951.2,99582.6,...,643335,655061,645212,630659,648969,667450,675653,670075,706263,652895
Kensington & Chelsea,E09000020,182695,182345,182879,184177,191474,197266,197963,198037,197048,...,1.24853e+06,1.23018e+06,1.19044e+06,1.19405e+06,1.23176e+06,1.25104e+06,1.31317e+06,1.3444e+06,1.34895e+06,1.42852e+06
Kingston upon Thames,E09000021,80875.8,81230.1,81111.5,81672.8,82123.5,82205.7,82525.8,83342.8,85111,...,508405,504867,488211,490420,487696,489690,486805,488389,477450,480619
Lambeth,E09000022,67771,65381.5,66336.5,66388.8,69035.1,68881.2,69608.7,68840,70155.8,...,519956,520403,515947,519410,521705,526270,524048,521753,513397,523127
Lewisham,E09000023,60491.3,60869.3,60288,59471,58551.4,58041.4,58126.4,58151.3,58743,...,416885,420341,421258,415893,413462,409749,414526,414411,400987,423031
Merton,E09000024,82070.6,79982.7,80661.7,79990.5,80874,80704.9,81055.9,80781.1,80824.7,...,517489,515391,509006,501570,500651,501370,500782,509365,529857,513216
Newham,E09000025,53539.3,53153.9,53458.3,54479.8,55804,56067.8,55458.3,54709.4,54585.5,...,361920,368687,369972,363114,360934,367017,376713,379837,356915,376579
Redbridge,E09000026,72189.6,72141.6,72501.4,72228.6,72366.6,72279.4,72880.8,73275.2,73204,...,421319,414268,411874,413882,424631,422633,422506,426848,435763,423193
Richmond upon Thames,E09000027,109326,111103,107325,106875,107708,112865,114657,112320,110425,...,657974,648147,643769,650949,655378,662919,658932,658654,683248,664536
Southwark,E09000028,67885.2,64799.1,65763.3,63073.6,64420.5,64155.8,67024.7,65525.9,63467,...,496718,507466,513615,510619,505499,499906,499775,504904,508543,525473
Sutton,E09000029,71537,70893.2,70306.8,69411.9,69759.2,70125.2,70789.6,69958.4,69937.4,...,368908,372899,369917,374775,372581,372982,373644,376708,376808,376155
Tower Hamlets,E09000030,59865.2,62318.5,63938.7,66233.2,66432.9,66232.2,64692.2,63472.3,62177.6,...,441364,447629,452040,450989,456436,463719,473163,482143,480984,498228
Waltham Forest,E09000031,61319.4,60252.1,60871.1,60971.4,61494.2,61547.8,61933.5,61916.4,61548.2,...,427416,432270,434921,435568,437333,441446,437879,438596,440354,443510
Wandsworth,E09000032,88559,88641,87124.8,87026,86518.1,88114.3,89830.6,90560.7,91373.7,...,592251,605559,600642,601650,605560,605540,610145,614426,607227,615207
Westminster,E09000033,133025,131468,132260,133370,133911,134562,133450,136582,135993,...,905951,922687,927735,955265,960943,1.01165e+06,1.01658e+06,1.01398e+06,1.03449e+06,937356
Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inner London,E13000001,78252,75885.7,76591.6,76851.6,79129.2,79969.2,80550.5,80597.6,80402.9,...,571439,577554,574464,573932,575132,580408,586789,591783,584234,592328
Outer London,E13000002,72958.8,72937.9,72714.5,72591.9,72753,73189.4,73665.9,73691.1,73454.4,...,425263,425804,424942,423311,423156,422509,424826,427481,431880,427978
Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NORTH EAST,E12000001,42076.4,42572,42369.7,42095.8,43266.5,42315.3,43287.7,41899.1,41850.9,...,131515,131952,129462,129658,129504,128401,128142,129047,125938,134545
NORTH WEST,E12000002,43958.5,43925.4,44434.9,44267.8,44223.6,44113,44109.6,44193.7,44088.1,...,167490,166796,166640,165808,164893,165094,166291,168161,167809,168261
YORKS & THE HUMBER,E12000003,44803.4,44528.8,45200.5,45614.3,44831,45392.6,45535,45111.5,44837.9,...,165441,165407,166494,164499,165818,164752,164949,165685,165561,170198
EAST MIDLANDS,E12000004,45544.5,46051.6,45383.8,46124.2,45878,45680,46037.7,45922.5,45771.7,...,195268,194808,194674,194855,194553,196199,194214,198284,200513,197505
WEST MIDLANDS,E12000005,48527.5,49341.3,49442.2,49455.9,50369.7,50100.4,49860,49598.5,49319.7,...,200858,200969,200116,200896,198644,202085,200196,201369,202093,203658
EAST OF ENGLAND,E12000006,56701.6,56593.6,56171.2,56567.9,56479.8,56288.9,57242.3,56732.4,56259.3,...,290623,291944,291196,288781,290814,290335,290309,291356,295640,290621
LONDON,E12000007,74435.8,72777.9,73896.8,74455.3,75432,75606.2,75984.2,75529.3,74940.8,...,472872,477779,474156,468983,478576,478489,479628,488185,480425,479018
SOUTH EAST,E12000008,64018.9,63715,64113.6,64623.2,64530.4,65511,65224.9,64851.6,64352.5,...,323122,324357,323278,322512,321972,323422,319827,326701,327413,324659
SOUTH WEST,E12000009,54705.2,54356.1,53583.1,54786,54698.8,54420.2,54265.9,54365.7,54244,...,258241,258751,258880,256875,256577,257822,257101,262444,255891,261006
Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,E92000001,53202.8,53096.2,53201.3,53590.9,53678.2,53735.2,53900.6,53600.3,53309.2,...,249294,249771,249152,247951,248250,248950,248232,251539,250874,251973

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!